@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .repl-output {
    @apply px-2 py-1 h-3/4;
    /* max-h-3/4 */
  }

  .repl-submit {
    @apply rounded bg-blue-600 py-1 px-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
  }

  .repl-form {
    @apply flex-row sm:flex px-2 sm:h-1/4
  }

  .repl-textarea {
    @apply w-full h-full p-1 bg-gray-800
  }

}